body
{
	background-color: #222;
	margin: 0px;
	cursor: none;
}

a
{
	cursor: none;
}

header 
{
	background: #55d6aa;
	position: fixed;
	top: 0px;
	width: 100%;
}

header::after 
{
	content: '';
	display: table;
	clear: both;
}

.container 
{
	width: 80%;
	margin: 0 auto;
}


.logo img
{
	float: left;
	border: 2px solid black;
	margin: 8px 0;
} 

nav
{
	float: right;
}

nav li
{
	 display: inline-block;
	 list-style: none;
	 margin-left: 70px;
	 padding-top: 9px;
	 position: relative;

}

nav a
{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover
{
	color: #000000;
}

nav a::after
{
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #444;
	position: relative;
	transition: all ease-in-out 250ms;
	
}

nav a:hover::after
{
	color: #000000;
	width: 100%;
}

.warning
{
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 color: red;
}

h1
{
	color: white;
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
}

h2
{
	color: white;
	margin-top: 20px;
	text-align: center;
}

#raferat p
{
	color: white;
	text-align: center;
}

#uvod
{
	 padding-top: 10px;
}

#uvod p
{
	color: white;
	text-align: center;
	font-size: 25px;
}

#cenik
{
	padding-top: 10px;
}

#cenik table
{
	background-color: #55d6aa;
	margin-left: auto;
	margin-right: auto;
	
}

#cenik th, td
{
	background-color: #222;
	text-transform: uppercase;
	color: white;
	text-align: center;
}

#cenik th
{
	padding: 0 20px;
}

#obraz1 img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#obraz2 img
{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


#kontakty
{
	background-color: #55d6aa;
}

#kontakty h1
{
	color: #444; 
}

#kontakty a
{
	text-align: center;
	display: block;
	text-decoration: none;
	color: #444;
}

#kontakty::after 
{
	content: '';
	display: table;
	clear: both;
}

.cursor
{
	background: none;
	display: none;
	position: absolute;
	pointer-events: none;
	transform: translate(-50%, -50%);
}

#raferaty
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#raferaty ul
{
	list-style: none;
}

#raferaty li::before
{
	content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

#raferaty a
{
	color: white;
}